# PROBLEM 2

In [9]:
a = int(input("input value A "))
b = int(input("inbut value B "))
sum = a + b
if sum%2 == 0:
    print("even guy wins")
else:
    print("odd guy wins")

input value A 23
inbut value B 876
odd guy wins

# PROBLEM 3

In [10]:
import pandas

In [14]:
R_n_D_Spend = [20, 24, 13, 45, 50]
Administration = [12.4, 45.2, 123, 32.2, 44.9]
Marketing_spend = [23.3, 45, 654, 43, 12]
State = ['New York', 'Detroit', 'California', 'Florida', 'Maimi']
profit = [1234, 3443, 5454, 64656, 121212]

In [15]:
tabl = {'R_n_D_Spend: ' : R_n_D_Spend, 'Administration: ': Administration, 'Marketing_spend: ': Marketing_spend, 'State: ': State,'profit: ': profit}

In [16]:
tabl

{'R_n_D_Spend: ': [20, 24, 13, 45, 50],
 'Administration: ': [12.4, 45.2, 123, 32.2, 44.9],
 'Marketing_spend: ': [23.3, 45, 654, 43, 12],
 'State: ': ['New York', 'Detroit', 'California', 'Florida', 'Maimi'],
 'profit: ': [1234, 3443, 5454, 64656, 121212]}

In [17]:
tabl = pandas.DataFrame(tabl)

In [18]:
tabl

   R_n_D_Spend:   Administration:   Marketing_spend:      State:   profit:
0             20              12.4               23.3    New York      1234
1             24              45.2               45.0     Detroit      3443
2             13             123.0              654.0  California      5454
3             45              32.2               43.0     Florida     64656
4             50              44.9               12.0       Maimi    121212

In [33]:
tabl.to_excel('problem3.xlsx')

# PROBLEM 4

In [ ]:
D = int(input("distance "))
T = int(input("time "))
S = D/T
print(S,'miles/hour')

# PROBLEM 5

In [45]:
x = int(input("input value x "))
eqn =

input value x 4
False